body {
    font-family: Poppins, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; 
}

.login-container {
    display: flex;
    height: 100vh;
}

.login-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column; 
}

.logo-container {
    display: flex; 
    align-items: center; 
    margin-bottom: 20px; 
}

.logo-img-container {
    margin-right: 10px; 
}

.logo-img {
    width: 100px; 
    height: auto;
    margin-top: -50px;
    margin-left: 10px;
}

.login-content {
    width: 350px;
    padding: 20px; 
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-right {
    flex: 1;                     
    display: flex;               
    justify-content: center;     
    align-items: center;        
    background-color: #b2de89;  
}

.right-image {
    width: 80%;           
    height: auto;               
}

.login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #96b975; 
}

.login-subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
    text-align: left;
}

.form-input {
    width: 77.5%;
    padding: 7px;
    padding-top: 12px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f4f4f4;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.form-actions {
    margin-top: 30px;
}

.login-btn {
    width: 40%;
    padding: 10px;
    background-color: #A4D07B;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #6f9c45;
}

.icon {
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
}

.icon-left {
    left: 15px;
}

.icon-right {
    right: 15px;
    cursor: pointer;
}

.remember-me-container {
    display: flex;          /* Use flexbox for alignment */
    justify-content: space-between; /* Space between items */
    align-items: center;    /* Align items vertically center */
    margin-top: -10px;        /* Add margin for spacing */
}

.remember-me {
    display: flex;               
    align-items: center;
    opacity: 0.6;     
    margin-left: -3px;
}

.remember-me input[type="checkbox"] {
    margin-right: 4.5px;   
    margin-top: 1.5px;       
    width: 16px;               
    height: 15px;              
}

.remember-me label {
    font-size: 13px;           
    color: #333;              
}

.forgot-pass {
    font-weight: bold;
}

.forgot-pass a {
    font-size: 15px;
    text-decoration: none;
    color: #96b975;
}

.error-message {
    margin-top: 20px;
}
