.navbar {
    position: fixed;
    top: 0;
    left: 80px; /* Adjusted to match the sidebar width */
    right: 0;
    z-index: 1;
    transition: left 0.3s;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space items evenly */
    padding: 0 20px; /* Left and right padding */
    margin-left: 0px;
    background-color: white;
    color: #A4D07B !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}




.navbar-admin {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    top: 0;
    left: 80px; 
    right: 0;
    z-index: 1;
    transition: left 0.3s;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white; 
    margin-left: 20px;
}

.nav-item{
    color: #A4D07B !important;
}


.navbar-admin h3 {
    color: #A4D07B;
    font-weight: bold;
    margin-left: 30px;
}



.content-admin {
    transition: margin-left 0.3s;
}

.sidebar:hover ~ .content-admin {
    margin-left: 150px;
}

.trans-content {
    transition: margin-left 0.3s;
}

.sidebar:hover ~ .trans-content{
    margin-left: 150px;
}