.navbar {
    position: fixed;
    top: 0;
    left: 80px;
    right: 0;
    z-index: 1;
    transition: left 0.3s;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 190px;
    background-color: white;
    color: #A4D07B !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 30px!important;
}

.navbar-ques {
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 35px;
    top: 0;
    left: 80px;
    right: 0;
    z-index: 1;
    transition: left 0.3s;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #A4D07B ;
    margin-left: 300px;
    margin-right: 220px;
    position: sticky;
}

.navbar-admin {
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 35px;
    top: 0;
    left: 80px;
    right: 0;
    z-index: 1;
    transition: left 0.3s;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #A4D07B ;
    margin-left: 300px;
    margin-right: 220px;
    width: 75%;
    
}
.greet {
    font-size: 25px !important;
    font-weight: 300 !important;
    font-family: Poppins, sans-serif;
    margin-top: 5px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.name-greet {
    font-weight: 600;
}

.space {
    margin-left: 10px;
}







.nav-link-students {
    font-weight: bold;
    background-color: transparent;
    color: #A4D07B;
    text-decoration: none !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-right: 0px;
    padding: 8px 12px;
}

.nav-link-teachers {
    font-weight: bold;
    background-color: transparent;
    color: #A4D07B;
    text-decoration: none !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 8px 12px;
}

.nav-link-students.active {
    background-color: #A4D07B;
    color: white !important;
    border-radius: 5px;
    padding: 8px 12px;
}

.nav-link-students:hover {
    background-color: #a4d07b6e;
    color: white !important;
    border-radius: 5px;
    padding: 8px 12px;
}

.nav-link-students.active:hover {
    background-color: #A4D07B;
    color: white !important;
}

.nav-link-teachers.active {
    background-color: #A4D07B;
    color: white !important;
    border-radius: 5px;
    padding: 8px 12px;
}

.nav-link-teachers:hover {
    background-color: #a4d07b6e;
    color: white !important;
    border-radius: 5px;
    padding: 8px 12px;
}

.nav-link-teachers.active:hover {
    background-color: #A4D07B;
    color: white !important;
}

.nav-link-students i {
    margin: 3px;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}

.nav-link-teachers i {
    margin: 3px;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}



.nav-item {
    color: #A4D07B !important;
}




