
.sidebar {
    width: 100px;
    height: 100vh;
    margin-top: 30px;
    margin-left: 90px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    padding-top: -0px;
}

.sidebar a {
    width: 100%;
    padding: 15px 0;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.2s, border-radius 0.1s;
}

.sidebar a i {
    margin-bottom: 5px;
    font-size: 2rem; 
    color: #A4D07B;
    padding: 20px;
    border-radius: 50%;
    width: 60px; 
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}


.sidebar a.active i {
    background-color: #A4D07B; 
    border-radius: 50%; 
    transition: background-color 0.3s ease;
    color: white;
    width: 70px; 
    height: 70px;
}


.sidebar a.active span {
    color: #A67B5B; 
}

.sidebar a span {
    opacity: 1; 
    display: inline-block;
    white-space: nowrap;
    margin-left: 5px;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.2s ease;
}


.sidebar h3 {
    font-weight: bold;
    color: white !important;
    padding: 20px;
}

.main-content {
    margin-left: 90px; 
    margin-top: 50px;   
    padding: 20px;
    transition: margin-left 0.3s;
}


.sidebar-logo {
    width: 100px;
    height: auto;
}

.icon-container {
    position: relative;
}


.icon-underline {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 4px; 
    background-color: white; 
    border-radius: 2px; 
    background-color: rgba(0, 0, 0, 0.308);
    margin-left: 10px;
    margin-bottom: 20px;
    
}