

.trans-content {
    /* transition: margin-left 0.3s; */
    margin-left: 50px;
    width: 100%;
    transition: margin-left 0.3s;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* .sidebar:hover ~ .trans-content {
    margin-left: 150px;
} */
.table-responsive {
    width: 100%; 
    max-width: 100%; 
    margin: 20px auto;
}

.table {

    width: 100% !important;
    border-collapse: separate !important;
    border-spacing: 0 !important;
    background-color: #A4D07B  !important; 
    overflow: hidden !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
    font-size: 15px;
}

.table thead {
    background-color: #A4D07B  !important; 
    color: white !important;
}

.table thead th {
    background-color: #A4D07B  !important;
    color: white !important; 
    padding: 18px 24px !important; 
    font-size: 15px;
    text-align: left !important;
    font-weight: 600 !important;
    letter-spacing: 0.05em !important; 
    border-right: 1px solid #ddd !important; 
}
.table thead th:last-child {
    border-right: none !important; 
}

.table tbody tr {
    border-bottom: 1px solid #eee !important;
    transition: background-color 0.3s !important;
}

.table tbody tr:hover {
    background-color: #E6EFDD !important; 
}

.table tbody td {
    padding: 16px 20px !important;  
    font-size: 18px;
    color: #333 !important;
    font-weight: 400 !important;
}


.btn-add {
    background-color: #A4D07B  !important;
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    font-weight: 700 !important;
    font-family: Poppins, sans-serif;
    padding: 10px !important;
    
}

.btn-add:hover {
    background-color: white !important; 
    color: #A4D07B  !important;
    border: 1px solid #dbdbdb !important;
}

.btn-group-student {
    margin-left: 10px;
    display: flex;          
    align-items: center;      
    justify-content: center;  
}
.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 7px;
  }
  
  .input-group .form-control {
    border-right: 0;
    border-radius: 0.25rem 0 0 0.25rem;
  }
  
  .input-group .input-group-text {
    background-color: #ffffff;
    border-left: 0;
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
  }
  
  .input-group .input-group-text i {
    color: #00000093;
  }
  