
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.trans-content {
    margin: 0 auto;
    margin-left: 200px;
    max-width: 90%;
    padding: 20px;
    font-family: Poppins, sans-serif;
}

.content-student{
    margin: 0 auto;
    margin-left: 300px;
    max-width: 80%;
    padding: 20px;
    padding-top: 10px;
}
.content-teacher{
    margin: 0 auto;
    margin-left: 300px;
    max-width: 80%;
    padding: 20px;
    padding-bottom: 0;
}
.container-tabs{
    margin: 0 auto;
    margin-left: 300px;
    max-width: 80%;
    padding: 40px;
    padding-bottom: 0;
    padding-top: 0;

}
.nav-tabs .nav-link {
    color: #A4D07B;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    
}


.nav-tabs .nav-link.active {
    color: #A4D07B!important;
    font-weight: bold;
    border-color: #A4D07B;
    border-bottom: 2px solid #A4D07B; /* Optional for a more distinct active look */
    font-family: Poppins, sans-serif;
}

/* Hover effect */
.nav-tabs .nav-link:hover {
    color: #86b065;
    
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* .sidebar:hover ~ .trans-content {
    margin-left: 150px;
} */
.table-responsive {
    width: 100%; 
    max-width: 100%; 
    margin: 20px auto;
}

.table {

    width: 100% !important;
    border-collapse: separate !important;
    border-spacing: 0 !important;
    background-color: #A4D07B  !important; 
    overflow: hidden !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
    font-size: 15px;
}

.table thead {
    background-color: #A4D07B  !important; 
    color: white !important;
}

.table thead th {
    background-color: #A4D07B  !important;
    color: white !important; 
    padding: 18px 24px !important; 
    font-size: 15px;
    text-align: left !important;
    font-weight: 600 !important;
    letter-spacing: 0.05em !important; 
    border-right: 1px solid #ddd !important; 
}
.table thead th:last-child {
    border-right: none !important; 
}

.table tbody tr {
    border-bottom: 1px solid #eee !important;
    transition: background-color 0.3s !important;
}

.table tbody tr:hover {
    background-color: #E6EFDD !important; 
}

.table tbody td {
    padding: 16px 20px !important;  
    font-size: 18px;
    color: #333 !important;
    font-weight: 400 !important;
}


.btn-add {
    background-color: #A4D07B  !important;
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    font-weight: 700 !important;
    font-family: Poppins, sans-serif;
    padding: 10px !important;
    
}

.btn-add:hover {
    background-color: white !important; 
    color: #A4D07B  !important;
    border: 1px solid #dbdbdb !important;
}

.btn-group-student {
    margin-left: 10px;
    display: flex;          
    align-items: center;      
    justify-content: center;  
}
.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 7px;
  }
  
  .input-group .form-control {
    border-right: 0;
    border-radius: 0.25rem 0 0 0.25rem;
  }
  
  .input-group .input-group-text {
    background-color: #ffffff;
    border-left: 0;
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
  }
  
  .input-group .input-group-text i {
    color: #00000093;
  }

.custom-modal .modal-body {
    max-height: 400px; 
    overflow-y: auto; 
}


.custom-modal .modal-body::-webkit-scrollbar {
    width: 8px; 
}

.custom-modal .modal-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-modal .modal-body::-webkit-scrollbar-thumb {
    background: #A4D07B; 
    border-radius: 10px;
}

.custom-modal .modal-body::-webkit-scrollbar-thumb:hover {
    background: #88C7A2;
}
